<div class="container">
  <img class="logo" src="assets/logo.png" alt="Logo" class="logo" />
</div>

<div class="container" *ngIf="quizStatus.value !== 'finished'">
  <h1 *ngIf="quizStatus.value === 'loading'">
    Choose the right<br />
    movie!

    <div class="loader"></div>
  </h1>

  <div class="hints" *ngIf="movieDetails" class="{{ quizStatus.value }}">
    <p *ngIf="hintLevel > -1">
      {{ movieDetails.Plot }} <span class="deco">?</span>
    </p>
    <p *ngIf="hintLevel > 0">
      The movie is from the year {{ movieDetails.Year }} and has a rating of
      {{ movieDetails.imdbRating }}.<span class="deco">?</span>
    </p>

    <p *ngIf="hintLevel > 1">
      The director was {{ movieDetails.Director }} and the movie is made in
      {{ movieDetails.Country }}.<span class="deco">?</span>
    </p>
  </div>
  <div class="movies" *ngIf="movieDetails">
    @for (movie of movies; track movie; let i = $index) {
    <div
      class="movie"
      [ngClass]="{
        selected: choosenAnswer === i,
        correct: choosenAnswer === i && quizStatus.value === 'correct',
        incorrect: choosenAnswer === i && quizStatus.value === 'incorrect'
      }"
      (click)="chooseAnswer(i)"
    >
      <img class="poster" src="{{ movie.Poster }}" alt="{{ movie.Title }}" />

      <div
        class="correct-answer"
        *ngIf="quizStatus.value === 'incorrect' && rightAnswer === i"
      >
        CORRECT <br />
        ANSWER!
      </div>
    </div>
    }
  </div>
  <div class="actions">
    <button
      (click)="submitAnswer()"
      class="button-29 {{ choosenAnswer === undefined ? 'disabled' : '' }} {{
        quizStatus.value
      }}"
    >
      CHECK
    </button>
  </div>

  <button
    (click)="increaseHintLevel()"
    class="hint-button"
    *ngIf="quizStatus.value === 'thinking' && hintLevel !== 2"
  >
    NEED<br />ANOTHER<br />HINT!
  </button>
</div>

<div class="container" *ngIf="quizStatus.value === 'finished'">
  <h1>
    Score<br />
    {{ this.score }}
  </h1>

  <h2>
    Highscore<br />
    {{ getHighscore() }}
  </h2>

  <div class="actions">
    <button class="button-29" (click)="tryAgain()">Try again!</button>
  </div>
</div>
