.container {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin: auto 0;
  > * {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.logo {
  padding-bottom: 10px;
  max-width: 100%;
}

h1,
h2 {
  color: white;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 26vh;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
}

h2 {
  font-size: 20px;
  padding-top: 0;
}

.poster {
  width: 100%;
}

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-bottom: 100px;
  .movie {
    position: relative;
    background-color: rgb(0, 166, 255);
    border-radius: 5px;
    padding: 10px;
    border: 3px solid rgba(255, 255, 255, 0.438);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    &.selected {
      background-color: #f9aa00;
      border: 3px solid rgba(255, 255, 255);
    }

    &.correct {
      background-color: #00f900;
    }
    &.incorrect {
      background-color: #f90000;
    }
  }
}

.actions {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  padding-bottom: 10px;
}

.hints {
  font-size: 16px;
  font-weight: bold;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  p {
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #f9aa00;
    margin: 0;
    color: white;
    border: 3px solid white;
    position: relative;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    span {
      position: absolute;
      right: 20px;
      bottom: -5px;
      transform: rotate(25deg) translateX(33px);
      font-size: 60px;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
      z-index: 1000;
    }
  }

  &.correct {
    p {
      background-color: #00f900;
    }
  }
  &.incorrect {
    p {
      background-color: #f90000;
    }
  }
}

.hint-button {
  position: fixed;
  left: 10px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  z-index: 1100;
  font-size: 10px;
  color: white;
  font-weight: 800;
  background-color: rgb(230, 145, 0);
  border: 0;
  transform: rotate(-25deg);
  cursor: pointer;
  border: 3px solid white;
}

.correct-answer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  z-index: 900;
  font-size: 10px;
  color: white;
  font-weight: 800;
  background-color: rgb(0, 159, 19);
  border: 0;
  transform: rotate(25deg);
  z-index: 1010;
  border: 3px solid white;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0077d800);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;

  animation: l7 1s infinite linear;

  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
