.container {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin: auto 0;
}

h1,h2 {
  color: white;
  font-size: 30px;
  display: flex;

  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  padding-top: 35vh;
}

h2 {
  font-size: 20px;
  padding-top: 0;
}

.poster {
  width: 100%;
}

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-bottom: 50px;
  .movie {
    position: relative;
    background-color: rgb(0, 166, 255);
    border-radius: 5px;
    padding: 10px;
    &.selected {
      background-color: #f9aa00;
    }

    &.correct {
      background-color: #00f900;
    }
    &.incorrect {
      background-color: #f90000;
    }
  }
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  > button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #0085f9;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    &:hover {
      background-color: #035aa5;
    }
    &.disabled,
    &.correct,
    &.incorrect {
      background-color: #00396b;
      cursor: not-allowed;
      pointer-events: none;
      color: rgb(117, 174, 255);
    }
  }
}

.hints {
  font-size: 16px;
  font-weight: bold;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #c68700;
    margin: 0;
    color: white;
  }

  &.correct {
    p {
      background-color: #00f900;
    }
  }
  &.incorrect {
    p {
      background-color: #f90000;
    }
  }
}

.hint-button {
  position: fixed;
  left: 10px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  z-index: 1100;
  font-size: 10px;
  color: white;
  font-weight: 800;
  background-color: rgb(230, 145, 0);
  border: 0;
  transform: rotate(-25deg);
  cursor: pointer;
  border: 3px solid white;
}


.correct-answer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  z-index: 900;
  font-size: 10px;
  color: white;
  font-weight: 800;
  background-color: rgb(0, 159, 19);
  border: 0;
  transform: rotate(25deg); z-index: 1010;
  border: 3px solid white;
}